.myp{
  color: lightblue;
  font-size: 12px;
}
.box{
  width:120px;
  height: 30px;
  background: url('../image/logo1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.location{
  width:40px;height: 40px;
  border:1px solid black;
  background-image: url('../image/dizhi.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}